body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

div, p {
  margin: 0;
}

a {
  color: #00B7FF;
}

.container {
  display: flex;
  height: 100%;
}

.md-side {
  width: 20%;
  border-right: 2px solid black;
}

.editor-area {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
}

.md-display {
  display: flex;
  width: 100%;
  height: 95%;
}

/** Document */
.document {
  display: flex;
  align-items: center;
  width: 100%;
  height: 8%;
  border: 1px solid black;
  cursor: pointer;
}

.document-icon {
  width: 50px;
  height: 60px;
}

.document-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 8%;
}

.edit-area {
  height: 100%;
  width: 50%;
}

.edit-area textarea{
  width: 100%;
  height: 100%;
  resize: none;
}

.buttons-bar {
  height: 5%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.display-area{
  height: 100%;
  width: 50%;
  border: 1px solid black;
}